async-generator
attrs
certifi
cffi
charset-normalizer
h11
idna
importlib_metadata
mypy_extensions
outcome
packaging
pycparser
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
trio
trio-typing
webdriver-manager
gspread
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
trio-websocket
types-certifi
types-urllib3
typing_extensions
urllib3
websocket-client
wsproto
zipp